In [1]:
import pandas as pd
import shutil

In [2]:
df = pd.read_csv('data.csv')
df.head(10)

,Spreadsheet name,Total edges,Total formulae,Total nodes,TACO edges,TACO formulae,TACO nodes,Type0 edges,Type0 uncompressed edges,Type1 edges,...,Type2 uncompressed edges,Type3 edges,Type3 uncompressed edges,Type4 edges,Type4 uncompressed edges,Type5 edges,Type5 uncompressed edges,Notype edges,Notype nodes,Deduplicated Edges
0,albert_meyers_000_1_1.pst.0.xls,571,413,984,59,45,89,0,0,50,...,0,0,0,6,18,1,2,2,2,571
1,albert_meyers_000_1_1.pst.1.xls,607,440,1047,61,47,93,0,0,52,...,0,0,0,6,18,1,2,2,2,607
2,andrea_ring_000_1_1.pst.0.xls,540,436,976,44,23,66,0,0,20,...,0,0,0,0,0,0,0,24,24,484
3,andrea_ring_000_1_1.pst.1.xls,52,31,83,33,31,58,8,16,5,...,0,0,0,1,2,1,2,18,18,48
4,andrea_ring_000_1_1.pst.12.xls,208,122,330,16,10,23,0,0,13,...,0,0,0,3,43,0,0,0,0,208
5,andrea_ring_000_1_1.pst.13.xls,224,130,354,17,11,25,0,0,14,...,0,0,0,3,47,0,0,0,0,224
6,andrea_ring_000_1_1.pst.14.xls,197,115,312,17,11,25,0,0,14,...,0,0,0,3,41,0,0,0,0,197
7,andrea_ring_000_1_1.pst.15.xls,61,39,100,16,10,23,0,0,13,...,0,0,0,3,11,0,0,0,0,61
8,andrea_ring_000_1_1.pst.16.xls,1257,475,1732,67,43,70,0,0,33,...,0,0,0,6,186,0,0,28,28,1009
9,andrea_ring_000_1_1.pst.17.xls,1257,475,1732,69,46,74,0,0,34,...,0,0,0,6,182,0,0,29,29,1008

In [3]:
table1 = pd.DataFrame({
  'Comp. Ratio (Edges)': df['Total edges'] / df['TACO edges'],
  'Comp. Ratio (Vertices)': df['Total nodes'] / df['TACO nodes'],
  'Edges reduced': df['Total edges'] - df['TACO edges'],
  'Vertices reduced': df['Total nodes'] - df['TACO nodes'],
})
table1.describe().T

,count,mean,std,min,25%,50%,75%,max
Comp. Ratio (Edges),7326.0,51.128136,339.412762,1.0,2.632179,6.480591,15.108696,9508.0
Comp. Ratio (Vertices),7326.0,59.823901,438.729313,1.0,3.000000,6.994505,15.680000,14262.0
Edges reduced,7326.0,3436.142506,19101.675783,0.0,46.000000,232.000000,1307.750000,875286.0
Vertices reduced,7326.0,5008.186596,24258.626368,0.0,74.000000,411.000000,1997.750000,1051143.0

In [4]:
names = ['RR-Chain', 'RR', 'FR', 'RF', 'FF', 'RR-GapOne']
table2 = pd.DataFrame({
  names[i]: df[f'Type{i} uncompressed edges'] - df[f'Type{i} edges'] for i in [1, 3, 2, 4, 0, 5]
})
table2.describe().T

,count,mean,std,min,25%,50%,75%,max
RR,7326.0,2221.227136,10638.238580,0.0,23.25,171.0,852.5,525026.0
RF,7326.0,0.142097,6.453965,0.0,0.00,0.0,0.0,389.0
FR,7326.0,2.772591,47.207715,0.0,0.00,0.0,0.0,2997.0
FF,7326.0,509.589681,4968.682788,0.0,0.00,0.0,13.0,207235.0
RR-Chain,7326.0,72.873601,577.402216,0.0,0.00,0.0,6.0,24594.0
RR-GapOne,7326.0,39.405951,349.753540,0.0,0.00,0.0,5.0,12308.0

In [5]:
shutil.rmtree('tables')
!mkdir tables
formatted_table1 = table1.describe().T[['max', '75%', '50%', 'mean']].applymap('{:,.1f}'.format)
formatted_table2 = table2.describe().T[['max', '75%', '50%', 'mean']].applymap('{:,.1f}'.format)
formatted_table1 = formatted_table1.rename({ '50%': 'median' }, axis='columns')
formatted_table2 = formatted_table2.rename({ '50%': 'median' }, axis='columns')
formatted_table1.to_latex('tables/table1.tex')
formatted_table2.to_latex('tables/table2.tex')